<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>
      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
<<<<<<< HEAD
    <%= f.label :rut, 'Rut' %><br>
    <%= f.text_field :rut, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :name, 'Nombre' %><br>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address, 'Dirección' %><br>
    <%= f.text_field :address, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, 'Fono' %><br>
=======
    <%= f.label :rut %><br>
    <%= f.text_field :rut, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
    <%= f.text_field :phone, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class:'form-control' %>
  </div>
  <div class="modal-footer">
<<<<<<< HEAD
    <%= f.submit 'Guardar', class:'btn btn-primary' %>
=======
    <%= f.submit class:'btn btn-primary' %>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
  </div>
<% end %>
