<<<<<<< HEAD
<% content_for :title do %>Editar Proveedor<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<h1 class="page-header">Editar Proveedor</h1>

<%= render 'form' %>

<%= link_to 'Ver', @provider %> |
<%= link_to 'Volver', providers_path %>
=======
<h1 class="page-header">Editing Provider</h1>

<%= render 'form' %>

<%= link_to 'Show', @provider %> |
<%= link_to 'Back', providers_path %>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
