<% content_for :title do %>Estado<% end %>
<% content_for :menu_config do %>class ="active"<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-header">Estado</h1>

<p>
  <strong>Name:</strong>
  <%= @status.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @status.description %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
