<<<<<<< HEAD
<% content_for :title do %>Editar Cliente<% end %>
<% content_for :menu_sales do %>class ="active"<% end %>

<h1 class="page-header">Editar Cliente</h1>

<%= render 'form' %>

<%= link_to 'Ver', @client %> |
<%= link_to 'Volver', clients_path %>
=======
<h1 class="page-header">Editing Client</h1>

<%= render 'form' %>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
