<% content_for :title do %>Cliente<% end %>
<% content_for :menu_sales do %>class ="active"<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-header">Cliente</h1>

<p>
  <strong>Rut:</strong>
  <%= @client.rut %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @client.user.username %>
</p>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Volver', clients_path %>
