<% content_for :title do %>Bienvenido<% end %>

<% content_for :content do %>
<<<<<<< HEAD
<%= stylesheet_link_tag	'cover'%>

	<%= render 'navbar' %>
=======
<%= stylesheet_link_tag	'cover' %>

>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
  	<div class="site-wrapper">
	    <div class="site-wrapper-inner">
	        <div class="cover-container">

<<<<<<< HEAD
	        	<div class="inner cover">
		          	<h1>RelWin.</h1>
		          	<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
		          	<p class="lead">
	            		<a href="/users/sign_in" class="btn btn-lg btn-primary"><i class="fa fa-sign-in"></i>&nbsp;Iniciar Sesión</a>
		          	</p>
		            <p class="notice"><%= notice %></p>
		            <p class="alert"><%= alert %></p>
	        	</div>

	        	<div class="mastfoot">
		            <div class="inner">
		              <p>Plataform Relwin, by <a href="https://twitter.com/d_pezz">@D_pezz</a>.</p>
		            </div>
	          	</div>

=======
	        	<div class="masthead clearfix">
	            <div class="inner">
	              <h3 class="masthead-brand">Cover</h3>
	              <nav>
	                <ul class="nav masthead-nav">
	                  <li class="active"><a href="#">Home</a></li>
	                  <li><a href="#">Features</a></li>
	                  <li><a href="#">Contact</a></li>
	                </ul>
	              </nav>
	            </div>
	          </div>
	              
	        	<div class="inner cover">
	          	<h1>Project RelWin.</h1>
	          	<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
	          	<p class="lead">
            		<a href="/users/sign_in" class="btn btn-lg btn-default"><i class="fa fa-heart"></i>&nbsp;Relwin</a>
	          	</p>
	            <p class="notice"><%= notice %></p>
	            <p class="alert"><%= alert %></p>
	        	</div>

>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
	        </div>
	    </div>
  	</div>
<% end %>