<% content_for :title do %>Pedido<% end %>
<% content_for :menu_orders do %>class ="active"<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-header">Pedido</h1>

<p>
  <strong>Code:</strong>
  <%= @order.code %>
</p>

<p>
  <strong>Status:</strong>
  <% if @order.status %><%= @order.status.name %><% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@order.price, precision: 0) %>
</p>

<p>
  <strong>Ticket:</strong>
  <% if @order.ticket %><%= @order.ticket.code %><% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.username %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
