<% content_for :title do %>Factura<% end %>
<% content_for :menu_orders do %>class ="active"<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-header">Factura</h1>

<p>
  <strong>Code:</strong>
  <%= @ticket.code %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@ticket.price, precision: 0) %>
</p>

<p>
  <strong>Payment:</strong>
  <% if @ticket.payment %><%= @ticket.payment.name %><% end %>
</p>

<p>
  <strong>Note:</strong>
  <%= @ticket.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user.username %>
</p>

<%= link_to 'Editar', edit_ticket_path(@ticket) %> |
<%= link_to 'Volver', tickets_path %>