<%= form_for(@in_terminal) do |f| %>
  <% if @in_terminal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@in_terminal.errors.count, "error") %> prohibited this in_terminal from being saved:</h2>

      <ul>
      <% @in_terminal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :terminal_id, 'Caja' %><br>
    <%= f.select :terminal_id, @terminals.map{ |c| [c.name, c.id] }, { include_blank: "Select Terminal" },
    { :class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :vendor_id, 'Vendedor' %><br>
    <%= f.select :vendor_id, @vendors.map{ |c| [c.name, c.id] }, { include_blank: "Select Vendor" },
    { :class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :start_p, 'Valor Inicial' %><br>
    <%= f.number_field :start_p, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :total_p, 'Valor Total' %><br>
    <%= f.number_field :total_p, class: 'form-control', readonly: '' %>
  </div>
  <div class="form-group">
    <%= f.label :end_p, 'Valor Término' %><br>
    <%= f.number_field :end_p, class: 'form-control', readonly: '' %>
  </div>

  <%# Si no está activado, poder activar %>
  <% if ! @in_terminal.is_active %>
    <div class="form-group">
      <%= f.label :start_date, 'Fecha Inicial' %><br>
      <%= f.datetime_select :start_date, class: 'form-control' %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :end_date, 'Fecha Término' %><br>
      <%= f.datetime_select :end_date, class: 'form-control' %>
    </div>
  <% end %>
  
  <%# Si ya finalizó turno, no volver a activar %>
  <% if ! @in_terminal.end_p %>
    <div class="form-group">
      <%= f.label :is_active, 'Activo' %><br>
      <%= f.check_box :is_active %>
    </div>
  <% end %>
  <div class="modal-footer">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
