<%= form_for(@in_terminal) do |f| %>
  <% if @in_terminal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@in_terminal.errors.count, "error") %> prohibited this in_terminal from being saved:</h2>

      <ul>
      <% @in_terminal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :terminal_id %><br>
    <%= f.select :terminal_id, @terminals.map{ |c| [c.name, c.id] }, { include_blank: "Select Terminal" },
    { :class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :vendor_id %><br>
    <%= f.select :vendor_id, @vendors.map{ |c| [c.name, c.id] }, { include_blank: "Select Vendor" },
    { :class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :start_p %><br>
    <%= f.number_field :start_p, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :total_p %><br>
    <%= f.number_field :total_p, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :end_p %><br>
    <%= f.number_field :end_p, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="modal-footer">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
