<% content_for :title do %>Forma de Pago<% end %>
<% content_for :menu_config do %>class ="active"<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-header">Forma de Pago</h1>

<p>
  <strong>Name:</strong>
  <%= @payment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @payment.description %>
</p>

<%= link_to 'Editar', edit_payment_path(@payment) %> |
<%= link_to 'Volver', payments_path %>
