<%= form_for([@product,@price]) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
<<<<<<< HEAD
    <%= f.label :buy_p, 'Precio Compra' %><br>
    <%= f.number_field :buy_p, class: 'form-control', onkeyup: "calculos('#{@intaxes}')" %>
  </div>
  <div class="form-group">
    <%= f.label :sale_p, 'Precio Venta' %><br>
    <%= f.number_field :sale_p, class: 'form-control', readonly: '' %>
  </div>
  <div class="form-group">
    <%= f.label :total_p, 'Precio Total' %><br>
    <%= f.number_field :total_p, class: 'form-control', readonly: '' %>
  </div>
  <div class="form-group">
    <%= f.label :return, 'Ganancia(%)' %><br>
    <%= f.number_field :return, class: 'form-control', onkeyup: "calculos(#{@intaxes})" %>
  </div>
  <div class="form-group">
    <%= f.label :taxes, 'Impuestos(%)' %><br>
    <%= f.number_field :taxes, class: 'form-control', readonly: ''%>
    <%= link_to 'Ver Impuestos', product_in_taxes_path(@product) %>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
=======
    <%= f.label :costo %><br>
    <%= f.number_field :costo, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :venta %><br>
    <%= f.number_field :venta, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :margen %><br>
    <%= f.number_field :margen, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :iva %><br>
    <%= f.number_field :iva, class: 'form-control'%>
  </div>
  <div class="modal-footer">
    <%= f.submit class: 'btn btn-primary' %>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
  </div>
<% end %>
