<%= form_for(@terminal) do |f| %>
  <% if @terminal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terminal.errors.count, "error") %> prohibited this terminal from being saved:</h2>

      <ul>
      <% @terminal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Nombre' %><br>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Descripción' %><br>
    <%= f.text_area :description, class: 'form-control'  %>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
