<% content_for :title do %>Producto<% end %>
<% content_for :menu_orders do %>class ="active"<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-header">Compra <i class="fa fa-angle-right"></i> <small>Producto</small></h1>

<p>
  <strong>Buy:</strong>
  <%= @in_buy.buy.id %>
</p>

<p>
  <strong>Product:</strong>
  <% if @in_buy.product %><%= @in_buy.product.name %><% end %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @in_buy.unit %>
</p>

<%= link_to 'Editar', edit_buy_in_buy_path(@buy,@in_buy) %> |
<%= link_to 'Volver', buy_in_buys_path(@buy) %>
