<<<<<<< HEAD
<% content_for :title do %>Editar Impuesto<% end %>
<% content_for :menu_config do %>class ="active"<% end %>

<h1 class="page-header">Editar Impuesto</h1>

<%= render 'form' %>

<%= link_to 'Ver', @tax %> |
<%= link_to 'Volver', taxes_path %>
=======
<h1 class="page-header">Editing Tax</h1>

<%= render 'form' %>

<%= link_to 'Show', product_tax_path(@product,@tax) %> |
<%= link_to 'Back', product_taxes_path %>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
