<%= form_for :users, :html => { :method => method }, :url => url do |f| %>
  <% if @in_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@in_user.errors.count, "error") %> prohibited this in_user from being saved:</h2>
      <ul>
      <% @in_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username, 'Nombre Usuario' %><br />
    <%= f.text_field :username, autofocus: true, class: 'form-control', value: @in_user.username %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', value: @in_user.email %>
  </div>

  <% if active %>
    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :permission_level, 'Rol' %><br>
    <select class="form-control" name="users[permission_level]">
      <option value="">Select Permission</option>
      <% ['VENDOR','TERMINAL','VENDOR-TERMINAL','ADMIN','SUPER ADMIN'].each.with_index do |value,index| %>
        <% if @in_user.permission_level == index %>
          <option value="<%= index %>" selected ><%= value %></option>
        <% else %>
          <option value="<%= index %>"><%= value %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div class="modal-footer">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>

<% end %>