<<<<<<< HEAD
<% content_for :title do %>Editar Categoría<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<h1 class="page-header">Editar Categoría</h1>

<%= render 'form' %>

<%= link_to 'Ver', @category %> |
<%= link_to 'Volver', categories_path %>
=======
<h1 class="page-header">Editing Category</h1>

<%= render 'form' %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
