<p id="notice"><%= notice %></p>

<h1 class="page-header">Listing Categories</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each.with_index(1) do |category,index| %>
      <tr>
        <td><span class="badge"><%= index %></span></td>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= category.user.username %></td>
        <td><%= link_to '', category, class: "glyphicon glyphicon-eye-open text-primary" %>
        <%= link_to '', edit_category_path(category), class: "glyphicon glyphicon-edit text-info" %>
        <%= link_to '', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash text-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal-footer">
  <%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %>
</div>