<% content_for :title do %>Categoría<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<h1 class="page-header">Categoría</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @category.user.username %>
</p>

<%= link_to 'Editar', edit_category_path(@category) %> |
<%= link_to 'Volver', categories_path %>
