<% content_for :title do %>Productos<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-header">Productos</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Sku</th>
        <th>Código Barra</th>
        <th>Nombre</th>
        <th>Proveedor</th>
        <th>Categoria</th>
        <th>Valor</th>
        <th>Medida</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each.with_index(1) do |product,index| %>
        <tr>
          <td><span class="badge"><%= index %></span></td>
          <td><%= product.code %></td>
          <td><%= product.barcode %></td>
          <td><%= product.name %></td>
          <td><%= product.provider.name %></td>
          <td><% if product.category %><%= product.category.name %><% end %></td>
          <td><%= number_to_currency(product.price.total_p, precision: 0) %></td>
          <td><%= product.measure.symbol %></td>
          <td><%= product.user.username %></td>
          <td>
          <%= link_to '', product, class: 'glyphicon glyphicon-eye-open' %>&nbsp;
          <%= link_to '', product_price_path(product,product.price), class: 'fa fa-money text-success' %>&nbsp;
          <%= link_to '', product_in_taxes_path(product), class: 'fa fa-usd text-warning' %>&nbsp;
          <%= link_to '', product_in_stocks_path(product), class: 'glyphicon glyphicon-shopping-cart' %>&nbsp;
          <%= link_to '', edit_product_path(product), class: 'glyphicon glyphicon-edit text-info' %>&nbsp;
          <%= link_to '', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash text-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <%= link_to 'Nuevo', new_product_path, class: 'btn btn-primary' %>
</div>

