<% content_for :title do %>Producto<% end %>
<% content_for :menu_products do %>class ="active"<% end %>
<p id="notice"><%= notice %></p>

<h1 class="page-header">Producto</h1>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @product.barcode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Measure:</strong>
  <%= @product.measure.symbol %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @product.provider.name %>
</p>

<p>
  <strong>Category:</strong>
  <% if @product.category %><%= @product.category.name %><% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user.username %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Volver', products_path %>
