<% content_for :title do %>Ventas<% end %>
<% content_for :menu_sales do %>class ="active"<% end %>
<p id="notice"><%= notice %></p>

<h1 class="page-header">Ventas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Desc</th>
      <th>Total p</th>
      <th>Buy p</th>
      <th>Client</th>
      <th>Vendor</th>
      <th>is_active</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each.with_index(1) do |sale,index| %>
      <tr>
        <td><span class="badge"><%= index %></span></td>
        <td><%= number_to_percentage(sale.desc, precision: 0) %></td>
        <td><%= number_to_currency(sale.total_p, precision: 0) %></td>
        <td><%= number_to_currency(sale.buy_p, precision: 0) %></td>
        <td><% if sale.client %><%= sale.client.name %><% end %></td>
        <td><% if sale.in_vendor %><%= sale.in_vendor.vendor.name + ' ' + sale.in_vendor.vendor.plastname + ' ' + sale.in_vendor.vendor.mlastname %><% end %></td>
        <td><%= sale.is_active %></td>
        <td><%= sale.user.username %></td>
        <td>
        <%= link_to '', sale, class: 'glyphicon glyphicon-eye-open' %>&nbsp;
        <%= link_to '', sale_items_path(sale), class: 'glyphicon glyphicon-shopping-cart' %>&nbsp;
        <% if sale.pay %><%= link_to '', sale_pay_path(sale, sale.pay), class: 'fa fa-money text-success' %>&nbsp;<% end %>
        <%= link_to '', edit_sale_path(sale), class: 'glyphicon glyphicon-edit text-info' %>&nbsp;
        <%= link_to '', sale, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash text-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal-footer">
  <h4 class="pull-left"><small>Total:</small>&emsp;<%= number_to_currency(@sale_total_p, precision: 0) %></h4>
  <% if $in_vendor_active %> 
    <%= link_to 'New Sale', new_sale_path, class: 'btn btn-primary' %>
  <% end %>
</div>

<% if !$in_vendor_active %> 
  <div class="alert alert-info" role="alert">
    <strong>Información!</strong> Para realizar una venta, debe tener movimiento de vendedor y caja.
  </div>
<% end %>

