<%= form_for([@product,@in_tax]) do |f| %>
  <% if @in_tax.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@in_tax.errors.count, "error") %> prohibited this in_tax from being saved:</h2>

      <ul>
      <% @in_tax.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tax_id, 'Impuesto' %><br>
    <%= f.select :tax_id, @taxes.map{ |c| [c.name, c.id] }, { include_blank: "Select Tax" },
     { :class => 'form-control' } %>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
