<% content_for :title do %>Impuestos<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-header">Producto <i class="fa fa-angle-right"></i> <small>Impuestos</small></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Product</th>
      <th>Tax</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @in_taxes.each.with_index(1) do |in_tax,index| %>
      <tr>
        <td><span class="badge"><%= index %></span></td>
        <td><%= in_tax.product.name %></td>
        <td><%= in_tax.tax.name %></td>
        <td>
        <%= link_to '', product_in_tax_path(in_tax.product,in_tax), class: 'glyphicon glyphicon-eye-open' %>&nbsp;
        <%= link_to '', edit_product_in_tax_path(in_tax.product,in_tax), class: 'glyphicon glyphicon-edit text-info' %>&nbsp;
        <%= link_to '', product_in_tax_path(in_tax.product,in_tax), method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash text-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal-footer">
  <%= link_to 'Volver', products_path, class: 'btn btn-default' %>
  <%= link_to 'New In tax', new_product_in_tax_path(@product), class: 'btn btn-primary' %>
</div>

