<% content_for :title do %>Impuesto<% end %>
<% content_for :menu_products do %>class ="active"<% end %>

<p id="notice"><%= notice %></p>

<h1 class="page-header">Producto <i class="fa fa-angle-right"></i> <small>Impuesto</small></h1>

<p>
  <strong>Product:</strong>
  <%= @in_tax.product.name %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @in_tax.tax.name %>
</p>

<%= link_to 'Editar', edit_product_in_tax_path(@product,@in_tax) %> |
<%= link_to 'Volver', product_in_taxes_path(@product) %>
