<%= render template: 'layouts/application' %>

<%= stylesheet_link_tag	"sidebar", "style" %>
<!-- Fixed navbar -->
<div class="navbar navbar-static navbar-default navbar-fixed-top">
	<div class="container-fluid">
	  	<div class="navbar-header">
		    <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg" data-toggle="sidebar" data-target=".sidebar-left">
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Project name</a>
	  	</div>

	  	<button type="button" class="navbar-toggle toggle-right" data-toggle="sidebar" data-target=".sidebar-right">
	      	<span class="icon-bar"></span>
	      	<span class="icon-bar"></span>
	      	<span class="icon-bar"></span>
	    </button>

	  	
      	<ul class="nav navbar-nav navbar-right hidden-xs">
        	<li><a href="#">Link</a></li>
	        <li class="dropdown">
	          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a>
	          	<ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><%= link_to "Cerrar", destroy_user_session_path, method: :delete %></li>
	          	</ul>
	        </li>
	        <li><a></a></li>
      	</ul>
      	<form class="navbar-form navbar-right hidden-xs" role="search">
      		<div class="input-group">
      			<input type="text" class="form-control" placeholder="Search...">
		      	<span class="input-group-btn">
		        	<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
		      	</span>
		      	
		    </div><!-- /input-group -->
      	</form>
	    

	</div>
</div>

<!-- Begin page content -->
<div class="container">
	<div class="row">
	  	<div class="col-xs-7 col-sm-3 col-md-2 sidebar sidebar-left sidebar-animate sidebar-md-show">
	        <ul class="nav navbar-stacked">
	          	<li class="active"><a href="#">Home</a></li>
	          	<li><%= link_to 'Proveedores', providers_path %></li>
	          	<li><%= link_to 'Clientes', clients_path %></li>
	          	<li><%= link_to 'Categorias', categories_path %></li>
	          	<li><%= link_to 'Productos', products_path %></li>
	        </ul>
	  	</div>
	  	<div class="main col-md-10 col-md-offset-2">
	        <%= yield %>
	  	</div>
	  	<div class="col-xs-7 col-sm-3 col-md-2 sidebar sidebar-right sidebar-animate">
	        <ul class="nav navbar-stacked">
	          	<li class="active"><a href="#">Home</a></li>
	          	<li><a href="#about">About</a></li>
	          	<li><a href="#contact">Contact</a></li>
	        </ul>
	  	</div>
	</div>
</div>

