<%= render template: 'layouts/application' %>

<%= stylesheet_link_tag	"sidebar", "style" %>
<!-- Fixed navbar -->
<div class="navbar navbar-static navbar-default navbar-fixed-top">
	<div class="container-fluid">
	  	<div class="navbar-header">
		    <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg" data-toggle="sidebar" data-target=".sidebar-left">
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
<<<<<<< HEAD
		    <a class="navbar-brand" href="#"><%= image_tag "logo-alt.png", :alt => "Relwin", :title => "Relwin", :width => '140' %></a>
	  	</div>

      	<ul class="nav navbar-nav navbar-right hidden-xs">
        	<li>
        		<a href="#" data-toggle="sidebar" data-target=".sidebar-right" ><i class="fa fa-globe fa-lg"></i></a>
        	</li>
        	<li>
        		<a href="#" data-toggle="sidebar" data-target=".sidebar-right"><i class="fa fa-bell fa-lg"></i></a>
        	</li>
	        <li class="active dropdown">
	          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	          	<%= image_tag "profile.png", :alt => "Relwin", :title => "Relwin", :width => '24' %>&nbsp;
	          	<%= current_user.username %>
	          	<span class="caret"></span>
	          	</a>
	          	<ul class="dropdown-menu">
		            <li><%= link_to '<i class="fa fa-user"></i> Cuenta'.html_safe, account_path(current_user) %></li>
		            <li><%= link_to '<i class="fa fa-lock"></i> Contraseña'.html_safe, password_path(current_user) %></li>
		            <li><%= link_to '<i class="fa fa-question-circle"></i> Ayuda'.html_safe %></li>
		            <li role="separator" class="divider"></li>
		            <li><%= link_to '<i class="fa fa-sign-out"></i> Cerrar'.html_safe, destroy_user_session_path, method: :delete %></li>
	          	</ul>
	        </li>
      	</ul>
      	
	    <form class="navbar-form navbar-right hidden-xs" role="search" action="/search">
      		<div class="input-group">
      			<input type="text" class="form-control" placeholder="Search..." name="search">
		      	<span class="input-group-btn">
		        	<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
=======
		    <a class="navbar-brand" href="#">Project name</a>
	  	</div>

	  	<button type="button" class="navbar-toggle toggle-right" data-toggle="sidebar" data-target=".sidebar-right">
	      	<span class="icon-bar"></span>
	      	<span class="icon-bar"></span>
	      	<span class="icon-bar"></span>
	    </button>

	  	
      	<ul class="nav navbar-nav navbar-right hidden-xs">
        	<li><a href="#">Link</a></li>
	        <li class="dropdown">
	          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a>
	          	<ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><%= link_to "Cerrar", destroy_user_session_path, method: :delete %></li>
	          	</ul>
	        </li>
	        <li><a></a></li>
      	</ul>
      	<form class="navbar-form navbar-right hidden-xs" role="search">
      		<div class="input-group">
      			<input type="text" class="form-control" placeholder="Search...">
		      	<span class="input-group-btn">
		        	<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
		      	</span>
		      	
		    </div><!-- /input-group -->
      	</form>
<<<<<<< HEAD
=======
	    
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f

	</div>
</div>

<!-- Begin page content -->
<div class="container">
<<<<<<< HEAD

	<div class="row">
	  	<div class="col-xs-7 col-sm-3 col-md-2 sidebar sidebar-left sidebar-animate sidebar-md-show">
	        <ul class="nav navbar-stacked metismenu" id="menu">
	            <!-- User is Super Admin -->
	            <% if current_user.is_super_admin? %>
	            	<li class="active">
	                    <a href="#">Configuración<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level">
	                      	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Estados'.html_safe, statuses_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Formas de Pago'.html_safe, payments_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Unidad Medidas'.html_safe, measures_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Impuestos'.html_safe, taxes_path %></li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>
		        
		        <!-- User is Admin -->
		        <% elsif current_user.is_admin? %>
	                <li <%= yield :menu_products %>>
	                    <a href="#">Productos<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level" id="one">
	                        <li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Proveedores'.html_safe, providers_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Categorias'.html_safe, categories_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Productos'.html_safe, products_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Bodegas'.html_safe, stocks_path %></li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>
	            
	             	<li <%= yield :menu_orders %>>
	                    <a href="#">Pedidos<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level" id="two">
	                       	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Pedidos'.html_safe, orders_path %></li>
		          			<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Compras'.html_safe, buys_path %></li>
		          			<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Facturas'.html_safe, tickets_path %></li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>

	                <li <%= yield :menu_sales %>>
	                    <a href="#">Venta<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level" id="three">
	                       	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Vendedores'.html_safe, vendors_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Cajas'.html_safe, terminals_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Clientes'.html_safe, clients_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Movimiento Caja'.html_safe, in_terminals_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Movimiento Vendedores'.html_safe, in_vendors_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Ventas'.html_safe, sales_path %></li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>

	                <li <%= yield :menu_config %>>
	                    <a href="#">Cuentas<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level" id="four">
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Usuarios'.html_safe, in_users_path %></li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>
	            
	            <!-- User is Vendor - Terminal -->
	            <% elsif current_user.is_vendor_terminal? %>
	            	<li class="active">
	                    <a href="#">Venta<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level">
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Clientes'.html_safe, clients_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Movimiento Vendedores'.html_safe, in_vendors_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Movimiento Caja'.html_safe, in_terminals_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Ventas'.html_safe, sales_path %></li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>

	            <!-- User is Terminal -->
	            <% elsif current_user.is_terminal? %>
	            	<li class="active">
	                    <a href="#">Venta<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level">
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Clientes'.html_safe, clients_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Movimiento Caja'.html_safe, in_terminals_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Ventas'.html_safe, sales_path %></li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>

	            <!-- User is Vendor -->
	            <% elsif current_user.is_vendor? %>
	            	<li class="active">
	                    <a href="#">Venta<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level">
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Clientes'.html_safe, clients_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Movimiento Vendedores'.html_safe, in_vendors_path %></li>
				          	<li><%= link_to '&nbsp;<i class="fa fa-th-large"></i> Ventas'.html_safe, sales_path %></li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>

	            <% end %>
            </ul>
=======
	<div class="row">
	  	<div class="col-xs-7 col-sm-3 col-md-2 sidebar sidebar-left sidebar-animate sidebar-md-show">
	        <ul class="nav navbar-stacked">
	          	<li class="active"><a href="#">Home</a></li>
	          	<li><%= link_to 'Proveedores', providers_path %></li>
	          	<li><%= link_to 'Clientes', clients_path %></li>
	          	<li><%= link_to 'Categorias', categories_path %></li>
	          	<li><%= link_to 'Productos', products_path %></li>
	        </ul>
>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
	  	</div>
	  	<div class="main col-md-10 col-md-offset-2">
	        <%= yield %>
	  	</div>
	  	<div class="col-xs-7 col-sm-3 col-md-2 sidebar sidebar-right sidebar-animate">
	        <ul class="nav navbar-stacked">
	          	<li class="active"><a href="#">Home</a></li>
	          	<li><a href="#about">About</a></li>
	          	<li><a href="#contact">Contact</a></li>
	        </ul>
	  	</div>
	</div>
</div>
<<<<<<< HEAD
<script type="text/javascript">
 	$("#menu").metisMenu({
    	doubleTapToGo: true
  	});
</script>
=======

>>>>>>> c66483081cf83138a2aa6b061be26ceefc71112f
